.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  border-radius: 4px;
  color: #000000;
  opacity: 60%;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* font-family: "Cabinet Grotesk"; */
  padding: 2px 12px;
  gap: 8px;
}

.card__image {
  width: 100%;
  border: 1px;
  border-radius: 20px;
  border: rgba(0, 0, 0, 0.3) 1px solid;
}

/* .card__like-button {
  background: transparent url('../../images/like-inactive.svg') center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url('../../images/like-active.svg');
} */
